
{{ form_start(form, {'attr': {'class': 'search'}}) }}
    {{ form_widget(form.libelle) }}
    {{ form_widget(form)}}
    <a href="javascript:;" class="btn submit md-skip">
        <i class="fa fa-search"></i>
    </a>
{{ form_end(form) }}
